@font-face {
  src: url(fonts/slkscr.ttf);
  font-family: silk;
}

.App {
  font-family: silk;
  text-align: center;
  height: 25vh;
  width: 100vw;
  max-width: 100%;
}

.App-logo {
  position: relative;
  top: 1px;
  left: 1px;
  justify-content: center;
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code {
  font-family: silk;
  font-weight: 600;
  font-style: italic;
}

.bh {
  background: black;
  border-radius: 50%;
  width: 4.5%;
  height: 10%;
}
